.center-title {
    text-align: center;
}
.center-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;

    .contador {
        height: 100%;
        justify-content: center;
        display: flex;
        flex-flow: column;
    }
}
