<ion-header>
  <ion-navbar color="primary">

    <ion-title>Histórico</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openFiltro()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="mancadas.length">
    <ion-item *ngFor="let mancada of mancadas">
      <h3 item-start>{{mancada.date}}</h3>
      <ion-badge item-end color="danger">{{mancada.nMancadas}}</ion-badge>
    </ion-item>
  </ion-list>
  <div *ngIf="mancadas.length == 0" text-center>
    <ion-icon name="happy"></ion-icon>
    <p>
      Não há mancadas
    </p>
  </div>

</ion-content>
